<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/src/Tools/CmdTool/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--

This configuration is used by CmdTool.exe, for more information see http://help.csharptest.net/?CmdToolOverview.html

To modify the proto files in this project, you need to run the following command: CmdTool.exe REGISTER

-->
  <match filespec="NClassifyConfig.cs">
    <generator debug="false">
      <script type="Cmd">
        <![CDATA[@ECHO OFF
IF NOT EXIST "$(ProjectDir)$(IntermediateOutputPath)" @MD "$(ProjectDir)$(IntermediateOutputPath)"
        ]]></script>
    </generator>
    <generator debug="false">
      <execute exe="%WINDIR%\Microsoft.Net\Framework\v3.5\csc.exe" />
      <arg value="/nologo"/>
      <arg value="/target:library"/>
      <arg value="/out:$(ProjectDir)$(IntermediateOutputPath)$(ClassName).dll"/>
      <arg value="$(InputPath)"/>
    </generator>
    <generator debug="false">
      <execute exe="$(ConfigDir)depend\xsd.exe" />
      <arg value="/nologo"/>
      <arg value="$(ProjectDir)$(IntermediateOutputPath)$(ClassName).dll"/>
      <arg value="/type:$(Namespace).$(ClassName)"/>
      <arg value="/out:$(ProjectDir)$(IntermediateOutputPath)"/>
    </generator>
    <generator debug="false">
      <script type="Cmd">
        <![CDATA[@ECHO OFF
COPY /Y /B "$(ProjectDir)$(IntermediateOutputPath)schema0.xsd" "$(InputPath:.cs=.xsd)" > NUL
        ]]>
      </script>
      <output extension=".xsd"/>
    </generator>
  </match>
</CmdTool>